
body {
    margin: 0;
    font-family: 'Playfair Display', serif;
}

p {
    text-align: justify;
}

#main {
    min-height: 100vh;
}

hr{
    background-color: #01344c;
}


/**  Nav **/

#header {
    background-color: #01344c;
    width: 100%;
}


.dropdown-menu, .nav-link, .dropdown-toggle {
    color: #d4a22f;
}


.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0.5;
}

#header:hover {
    opacity: 1;
}

.logo {
    border: 1px solid black;
    text-align: center;
}

.logo img {
    height: 100px;
    border: 1px solid black;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-toggler {

}

.navbar-toggler-icon {
    border: 1px solid black;
    color: white;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
}

.titre {
    text-align: center;
}

.hotel {
    color: white;
    font-size: 3em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    font-weight: bold;
}

@media screen and (min-width: 0px) {
    #panier-pre-nav {
        position: fixed;
        top: 1%;
        left: 1%;
        z-index: 3;
        opacity: 1;
    }

    #header:hover {
        opacity: 1;
    }

    #reserv {
        position: fixed;
        top: 1%;
        right: 1%;
        z-index: 3;
        opacity: 1;
    }

    #langage {
        position: fixed;
        top: 8%;
        right: 2%;
        z-index: 3;
        opacity: 1;
    }
}

@media screen and (min-width: 763px) {
    #langage {
        position: fixed;
        top: 8%;
        right: 2%;
        z-index: 3;
        opacity: 1;
    }

    #panier-pre-nav {
        position: fixed;
        top: 1%;
        left: 20%;
        z-index: 3;
        opacity: 1;
    }
}


.etoile {
    color: #d4a22f;
    font-size: 1em;
}

.langage {
    border: 1px solid black;
}

.zone1, .zone2, .zone3 {
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
}

.zone2 img {
    /*width: 30px;*/
}

/*never used*/
#nav {
    margin: 0;
    list-style-type: none;
    color: white;
    font-size: 25px;
}

.menu {
    color: white;
    list-style-type: none;
    font-size: 1em;
}

/* lien survolé par le curseur */
a:hover {
    color: #808080;
    text-decoration: none;
}


/**  Carousel **/

/*#carouselExampleIndicators {*/
/*    margin: 0*/
/*}*/

/*never used*/
.carousel-slide {
}

/**  Carousel **/


/**  Coeur du site **/


.my-2 {
  
    
}

.my-3 {
    padding: 50px;
}



h1 {
    color: #d4a22f;
    font-size: 3.5em;
    letter-spacing: 0.1em;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #d4a22f;
}

h2 {
    color: #d4a22f;
    font-size: 2.5em;
    letter-spacing: 0.05em;
    font-weight: bold;
    text-align: center;
}


.bouton1 {
    color: #d4a22f;
    margin: 0 auto;
    padding: 12px 25px;
    border: 1px solid #d5bc79;
    font-size: 0.8em;
    text-align: center;
    background: #ffffff;
}

.bouton1:hover {
    background-color: #d4a22f;
    margin: 0 auto;
    padding: 12px 25px;
    border: 1px solid #d5bc79;
    font-size: .8em;
    text-align: center;
}


.bouton2 {
    background-color: rgb(2, 3, 29);
    color: rgb(221, 177, 81);
    box-shadow: 6px 11px 43px 0 rgba(0, 0, 0, 0.17);
    font-size: 1em;
    padding: 24px 43px;
    margin: 0 auto;
}

.bouton2:hover {
    background-color: #d4a22f;
    margin: 0 auto;
    padding: 24px 43px;
    border: 1px solid #d5bc79;
    font-size: 1em;
    text-align: center;
}

.appel-nous{

    margin: 50px auto;
    text-align: center;
    font-size: medium;
    width: 60%;
    height: 10vh;
}
#p01{
    color: #d4a22f;
    text-align: center;

}


.btn-cl {
    display: flex;
    padding-top: 10px;
    margin: 10px;
}

.bouton2-appel{
    background-color: rgb(2, 3, 29);
    box-shadow: 6px 11px 43px 0 rgba(0, 0, 0, 0.17);
    display: inline-block;
    color: #d4a22f;
}
.bouton2-appel:hover {
    background-color: #d4a22f;
    margin: 0 auto;
    border: 1px solid #d5bc79;

}

.presentation p {
    padding-top: 25px
}

li {
    list-style-type: circle;
  }

/*???*/
/*.main {
    border: 1px black solid;
    text-align: center;
}*/

.main img {
    /*width: 100%;*/
}


/*never used*/
.fadin-bott {
    opacity: 0;
    transition: transform 1s ease, opacity 0.5s ease-in-out;
}

/*never used*/
.fadin-bott {
    transform: translate(0px, 50px);
}

/*Index*/

#index-container, .nav {
    background-color: #01344c;
}

.etoile {
    color: #d4a22f
}

h2 {
    text-align: center;
}

/*Chambres*/

#who, .dropdown-menu, .nav-link, .dropdown-toggle, .lang-choice {
    color: white;
}
.line{
    line-height: 2;
}

/* Panier */
.heading {
    color: black;
    text-align: center;
}

/* Réservation */

#reservation {
    padding-left: 5px;
}

.col {
    text-align: center;
    margin-top: 50px;
}

.chambres-classe {
    padding-bottom: 30px;
    text-align: center !important;
}

.room-blurb-large {
    display: block;
    margin: auto;
}

#suite {
}


@media all and (max-width: 992px) {
    .reverse {
        display: flex;
        flex-direction: column;
    }

    .small-last {
        order: 1;
    }
}

/*************** Restaurant ***************/

.carousel-item img{
    /* height: 60vh;*/
}

#appelez-nous {
    /* border: blue solid 2px; */
    width: 40%;
    margin: 0 auto;
}

.reservation {
    font-size: 0.5rem;
    margin: 10px;
    padding: 25px 30px;
    /* border: 2px yellow solid; */
    height: 60px;
    background: #01344c;
}

.appel {
    font-size: 150%;
    text-align: left;
}

.presentation-carte {
    margin: 50px auto;
    text-align: center;
    /* border: solid 2px black; */
    font-size: medium;
    width: 60%;
}

.wrapper {
    margin: 70px;
    text-align: center;
    display: grid;
    grid-auto-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1,1fr);
    /* border: black solid 2px;
    */

}




.my-6 {
    /* border: 2px red solid; */
}

#horaires-restaurants {
    margin: 0 auto 50px;
    text-align: center;
    /* border: blueviolet solid 2px; */
    width: 90%;
    display: table;

}

#horaires-restaurants p {
    border-bottom: 1px solid #d4a22f;
    margin: 0 auto;

}

.restaurant-title{
    margin: 20px;
    /* border: black 2px solid; */
}
.menu-list {
    /* border: solid 2px brown;    */
    padding: 80px;
    text-align: center;
}
.carousel-item p{
    color: black;
}

/***************** fin de page restaurant ********************/
/**  FOOTER **/
/* footer text  */
footer {
    background-color: #01344c;
    color: white;
    margin-top: 35px;
    left: 0;
    bottom: 0;
    width: 100%;
}

ul {
    list-style-type: none;
    font-size: 15px;
}

i {
    padding-left: 15px;
}

span {
    padding-left: 15px;
}

footer a {
    color: white;
    text-decoration: none;
}

/* lien survolé par le curseur */
footer a:hover {
    color: #808080;
    text-decoration: none;
}

footer ul {
    padding: 0;
}

.small {
    font-size: 0.6em;
}

.prix {
    font-style: italic;
    font-size: 1.4em;
}
