
body {
    margin: 0;
    font-family: 'Playfair Display', serif;
}

/*TODO donner des dimensions spécifiques aux images EN UTILISANT witdh: ___%;*/

img {
    /*DISPOSABLE*/
    flex-grow: 1;
    flex-shrink: 1;
}
/**  Nav **/

#header {
    background-color: #01344c
}


.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0.5;
}

.logo {
    border: 1px solid black;
    text-align: center;
}

.logo img {
    height: 100px;
    border: 1px solid black;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-toggler {

}

.navbar-toggler-icon {
    border: 1px solid black;
    color: white;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
}

.titre {
    text-align: center;
}

.hotel {
    color: white;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    font-weight: bold;
}


.etoile {
    font-size: 1rem;
}

.langage {
    border: 1px solid black;
}

.zone1, .zone2, .zone3 {
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
    margin: 10px auto;
}

.zone2 img {
    /*width: 30px;*/
}


#nav {
    margin: 0;
    list-style-type: none;
    color: #d4a22f;
    font-size: 25px;
}

.menu {
    color: white;
    list-style-type: none;
    font-size: 15px;
}

/* lien survolé par le curseur */
a:hover {
    color: #808080;
    text-decoration: none;
}


/**  Carousel **/
.carousel slide{
    border: 2px green solid ;
}
.carousel{
    border : 2px purple solid;
   display: inline-flex;
}

/**  Carousel **/


/**  Coeur du site **/

h1 {
    color: #d4a22f;
    font-size: 55px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #d4a22f;
}

h2 {
    color: #d4a22f;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: bold;
}

.bouton1 {
    color: #d4a22f;
    margin: 0 auto;
    padding: 12px 25px;
    border: 1px solid #d5bc79;
    font-size: 15px;
    text-align: center;
    background: #ffffff;
}

.bouton1:hover {
    background-color: #d4a22f;
    margin: 0 auto;
    padding: 12px 25px;
    border: 1px solid #d5bc79;
    font-size: 15px;
    text-align: center;
}


.bouton2 {
    background-color: rgb(2, 3, 29);
    color: rgb(233, 192, 104);
    box-shadow: 6.5px 11.258px 43px 0px rgba(0, 0, 0, 0.17);
    font-size: 15px;
    padding: 24px 43px;
    margin: 0 auto;
}

.bouton2:hover {
    background-color: #d4a22f;
    margin: 0 auto;
    padding: 12px 25px;
    border: 1px solid #d5bc79;
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
}

.btn-cl{
    display: flex;
    padding-top: 10px;
    border: solid darkblue 2px;
    margin: 10px;
}


.presentation p {
    padding-top: 25px
}

.main {
    border: 1px purple solid;
    
}

.main img {
    /*width: 100%;*/
}


.fadin-bott {
    opacity: 0;
    transition: transform 1s ease, opacity 0.5s ease-in-out;
}

.fadin-bott {
    transform: translate(0px, 50px);
}

/*Index*/

#index-container, #index-nav, #chambres-nav {
    background-color: #01344c;
}

.etoile {
    color: #d4a22f
}

h2 {
    text-align: center;
}

/*Chambres*/
.text-title{
    border: solid 1px green;
    flex-wrap: wrap;
}

.col {
    border: solid 1px black;
    text-align: center;
}
.espace{
    border: solid 1px black;
}
#chambres-classe{
    border: solid 2px brown;
    padding-bottom: 30px;
}


#who, .dropdown-menu, .nav-link, .dropdown-toggle, .lang-choice {
    color: #d4a22f;
}

.my-2 {
    border: black solid 2px;
    margin:50px;
    
}

.my-3{
    border: royalblue solid 2px;
    
    padding: 50px ;
    
}
/**  FOOTER **/
/* footer text  */
footer {
    background-color: #01344c;
    color: white;
}

ul {
    list-style-type: none;
    color: white;
    font-size: 15px;

}

#footer a {
    color: white;
    text-decoration: none;
}

/* lien survolé par le curseur */
#footer a:hover {
    color: #808080;
    text-decoration: none;
}

#footer ul {
    padding: 0;
}
